<% if @results %>
  <% if @results == "APIKEY_INVALID" %>
  window.create_alert({header: "Invalid key.",
    message: "<p>Your API pair is not valid.</p>"});
  <% elsif @count > 0 %>
  window.create_alert({header: "Syncronization finished!",
    message: '<p>Coins added: <%= @coins.join(", ")%>, total history records: <%= @count %>. <%= link_to "Check it out!", trades_path %></p>'}, "success");
  <% elsif @count == 0 %>
  window.create_alert({header: "Already up-to-date.",
    message: "<p>There are no new history records.</p>"}, "warning");
  <% end %>
<% else %>
window.create_alert({header: "Syncronization failed.",
  message: "Can't connect to exhange."});
<% end %>